<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ArchiType 0097</title>
    <link href="style.css" rel="stylesheet" />

  </head>
  <body>
    <script type="text/javascript" src='/jquery.js'></script>

    <header>
      <!-- nav and titles etc? -->
    </header>
  <div class='main-content'>
