<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ArchiLoc 00</title>
    <link href="style.css" rel="stylesheet" />

  </head>
  <body>

    <header>
      <!-- nav and titles etc? -->
    </header>
  <div class='main-content'>
