<%- include('header'); %>

  <div id='index'>
    <h1>ARCHILOCATOR</h1>

    <ul>
      <li><h3>Show me the <a href="/app">Map</a></h3></li>
      <li><h3>Have an Account? <a href="/login">Sign In</a></h3></li>
      <li><h3>Don't Have an Account? <a href="/create-account">New Account</a></h3></li>
    </ul>


  </div>

<%- include('footer'); %>
