


.add-structure{
  background-color: $color1;
  color: $color5;
  margin: 2em auto;
  padding:12px;

  h1,h2,h3,h4{
    padding:6px;
  }

  form{
    border:1px solid $color5;
    text-align: center;
    position: relative;
    padding:4px;
  }

  input{
    display: inline-block;
    width:75%;
    padding:9px;
  }

  button{
    display: block;
    margin: 0 auto;
    text-align: center;
    padding:1em;
    border: none;
  }

}

.review{
  color:black;
  background-color:white;
  margin: 1em auto;
}
