#map-component{

  position: absolute;
  width: 100%;
  min-height: 960px;
  overflow: visible;


  .component-inner{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 960px;
    max-height: 100%;
    width: 100%;
    background-color: $wit;

  }
  .filter-controls{

    margin-top:1em;
    .filter-button{
      @include button-mid;
    }
    .filter-button:hover{
      border-color:$color4;
      color:$blau;
      background-color: $color6;
    }
    .filter-button:active{
      border-color:$color4;
      color:firebrick;
      background-color: $wit;
    }
  }


  .left-bar{
    float:left;
    clear:left;
    position: absolute;

  }
  .two-thirds-map{
    clear: right;
    float: left;
    width: 66.666%;
  }

  .control-pane{
    display: inline-block;
    position: relative;
    max-height: 300px;
    width: 100%;
    background-color: $grau;
    color:$wit;
    min-height:96px;

  }

  .map-pane{
    padding: 0;
    margin:0;
    width: 48%;
    position: relative;

    transition: all 0.55s ease;
    //animtest
  }
  // .map-pane:after{
  //   content:'';
  //   float: none;
  //   clear: both;
  // }

  .center{
    width:80%;
    margin:0 auto;
    @include push--auto;
  }


  .info-pane{
    float:left;
    position: relative;
    width:48%;
    min-height:60px;
    background-color: $deepred;
    color:$wit;
    transition: all .33s ease;
    //animtest ^

    .info-box-text{
      font-size: 1.2em;
      text-align: left;
      padding: 1em;

      .info-type{
        text-transform: capitalize;
      }
    }
    .info-box-tags{
      padding:1em;
      li{
        @include button-sml;
        margin: 0.25em 0.75em;
        padding:5px;
        border:1px solid $deepred;
        width:auto;
        float:left;
      }
      li:hover{
        border:3px solid $wit;
      }
      li:active{
        border:6px solid $wit;
        background-color: $grau;
      }

    }
    .info-box-image{
      position: relative;
      padding: 0;
      margin: 0;
      img{
        height:240px;
        width: auto;
      }
    }
  }

  .control-pane-left{
    float:left;
    position: relative;
    width:33.333%;

    transition:all .33s ease;
  }

  .control-pane-low{
    display: inline-block;
    position: relative;
    height: 720px;
    width: 100%;
    background-color: $grau;
    color:$blau;
    min-height:96px;
    margin-top:1em;
    padding: .5em;

    overflow: auto;
    opacity: 1;
    transition:all .5s ease;
  }
  .inactive{
    opacity: 0;
    height:96px;
  }

  .aif{
    right:0px;
    height:auto;
    opacity: 1;
  }

  .oof{
    left:-660px;
    height:64px;
    opacity: 0;
  }

  .mapview-image{
    // position: absolute;
    width: 66%;
    height:100%;
    display: inline-block;
    img{
      display: inline-block;
      max-width: 100%;
      max-height: auto;
    }
  }
  .mapview-desc{
    display:inline-block;
    max-width:33.333%;
    max-height:440px;
    padding:1em;
    background: $deepred;
    color:$wit;
  }


  //animtest
}
