#map-component{

  background-color: $color3;
  position: absolute;

  .top-bar{

    overflow: auto;
  }

  .left-bar{
    float:left;
    clear:left;
    position: absolute;
    

  }

  .info-pane{
    position: relative;


  }
}
