#map-component{

  position: absolute;
  width: 1360px;
  min-height: 960px;
  overflow: auto;


  .component-inner{
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 960px;
    max-height: 100%;
    width: 100%;
    background-color: $color1;

  }


  .left-bar{
    float:left;
    clear:left;
    position: absolute;

  }
  .two-thirds-map{
    clear: right;
    float: left;
    width: 66.666%;
  }

  .control-pane{
    display: inline-block;
    position: relative;
    max-height: 300px;
    width: 100%;
    background-color: $color3;
    color:$color2;
    min-height:96px;

  }

  .map-pane{
    padding: 0;
    margin:0;
    width: 48%;
    position: relative;

    transition: all 0.25s ease;
    //animtest
  }
  .map-pane:after{
    content:'';
    float: none;
    clear: both;
  }

  .center{
    width:80%;
    margin:0 auto;
  }

  .info-pane{
    float:left;
    position: relative;
    width:48%;
    min-height:60px;
    background-color: $color1;
    color:$color2;
    transition: all 1s ease;
    //animtest ^

    .info-box-text{
      background-color: #FEDC97;
      font-size: 1.2em;
      text-align: left;
      padding: 1em;

      .info-type{
        text-transform: capitalize;
      }
    }
  }

  .control-pane-left{
    float:left;
    position: relative;
    width:33.333%;

    transition:all 1s ease;
  }

  .control-pane-low{
    display: inline-block;
    position: relative;
    max-height: 300px;
    width: 100%;
    background-color: $color3;
    color:$color2;
    min-height:96px;
  }

  .aif{
    right:0px;
    height:440px;
  }

  .oof{
    left:-660px;
    height:64px;
  }


  //animtest
}
