/* Coolors Exported Palette - coolors.co/0d1f2d-546a7b-3f5e5a-35ad1a-dbd83b */

/* HSL */
$color1: hsla(206%, 55%, 11%, 1);
$color2: hsla(206%, 19%, 41%, 1);
$color3: hsla(172%, 20%, 31%, 1);
$color4: hsla(109%, 74%, 39%, 1);
$color5: hsla(59%, 69%, 55%, 1);

/* RGB */
$color1: rgba(13, 31, 45, 1);
$color2: rgba(84, 106, 123, 1);
$color3: rgba(63, 94, 90, 1);
$color4: rgba(53, 173, 26, 1);
$color5: rgba(219, 216, 59, 1);