/* Coolors Exported Palette - coolors.co/0d1f2d-546a7b-3f5e5a-35ad1a-dbd83b */

/* HSL */
$color1: hsla(206%, 55%, 11%, 1);
$color2: hsla(206%, 19%, 41%, 1);
$color3: hsla(172%, 20%, 31%, 1);
$color4: hsla(109%, 74%, 39%, 1);
$color5: hsla(40%, 98%, 79%, 1);
$color6: hsla(59%, 69%, 55%, 1);

/* RGB */
$color1: rgba(43, 51, 65, 1);
$color2: rgba(84, 106, 123, 1);
$color3: rgba(63, 94, 90, 1);
$color4: rgba(53, 173, 26, 1);

$color6: rgba(219, 216, 59, 1);

$white:#fff;

$color5: rgba(254, 220, 151, 1);


/* Coolors Exported Palette - coolors.co/a0332f-fbfffa-e3e3e3-247ba0-70c1b3 */

/* HSL */
$deepred: hsla(2%, 55%, 41%, 1);
$wit: hsla(108%, 100%, 99%, 1);
$grau: hsla(0%, 0%, 89%, 1);
$blau: hsla(198%, 63%, 38%, 1);
$teel: hsla(170%, 40%, 60%, 1);

/* RGB */
$deepred: rgba(160, 51, 47, 1);
$wit: rgba(251, 255, 250, 1);
$grau: rgba(227, 227, 227, 1);
$blau: rgba(36, 123, 160, 1);
$teel: rgba(112, 193, 179, 1);
