
.sites-view{
  font-family: $stack-one;
  max-width: 100%;
  margin:0.5em auto;
  background-color: $color1;
  color:$wit;
  position: relative;
  overflow: auto;
  border: 4px solid $grau;

  .info-boxes-container{
    overflow: auto;
    background-color: $blau;
  }


  .site-info-box{
    position: relative;
    float:left;
    width: calc(33.333% - 0.75em);
    background-color: black;
    margin: 0.5em 0.25em;
    overflow:inherit;
  }
  .site-info{
    background-color: $grau;
    color: $color1;
  }
  .site-controls{

    margin:0.2em 0;
  }

  .button{
    border:$color5;
    background-color: $color1;
    color:$color2;
    display: inline-block;
    width: 16%;
    height: 22px;
    text-align: center;
    padding: 2px 3px;
    cursor: pointer;
    user-select: none;
  }
  .load{
    background-color:$color2;
    color:$color5;
    margin: 1em;
    padding:0.25em;
    min-width: 1em;
  }
  .button:hover{
    background-color: $color5;
    color:$color4;
  }
  .load:hover{
    background-color:$color5;
    color: black;
  }
  .button:active{
    background-color:firebrick;
    color:white;
  }
  .link{
    text-decoration: none;
    color:$wit;
  }
}
.btn-gc{
  width: 10%;
}
//test ^
