
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Roboto');

$stack-one:'Andale mono','Menlo','Monaco',monospace;

$stack-two-serif: 'Josefin Slab',serif;
$stack-two-sans:'Roboto',sans-serif;
//Josefin fonts
//roboto

//colors
