
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Roboto');

$stack-one:'Andale mono','Menlo','Monaco',monospace;

$stack-two-serif: 'Josefin Slab',serif;
$stack-two-sans:'Roboto',sans-serif;
//Josefin fonts
//roboto

//colors


//mixins
@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

@mixin responsive-ratio($x,$y, $pseudo: false) {
    $padding: unquote( ( $y / $x ) * 100 + '%' );
    @if $pseudo {
        &:before {
            @include pseudo($pos: relative);
            width: 100%;
            padding-top: $padding;
        }
    } @else {
        padding-top: $padding;
    }
}

//include with @includes mixin-name(arg)
