@import "reset";
@import "variables";
@import "palette1";
@import "asd";
@import "sites-view";
@import "map";


body{
  background-color: $color1;
  font-family: $stack-two-sans;
}
h1{
  font-size: 2.33em;
}
h2{
  font-size: 2em;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.5em;
}
i{
  font-style: italic;
}
.left{
  float:left;
  clear:none;
}
.right{
  float:right;
  clear:none;
}

.app-component{
  background-color: $color1;
  color:$color2;
  padding:1em;
  clear:both;
  width: 100%;
  height:96px;

  .title{
    display: inline-block;
    float:left;
  }
}

.component-header{
  margin:-0.1em 0 1em 0;
  clear: both;
  overflow: auto;
  height:54px;
}

.top-bar{
  background-color: $color5;
  overflow: auto;
}

.nav{
    position: relative;
    float:right;
    display: inline-block;
    width:20%;
    height: 100%;
}
