@import "reset";
@import "variables";
@import "palette1";
@import "asd";
@import "sites-view";
@import "map";


body{
  background-color: $wit;
  font-family: $stack-two-sans;
  font-weight: 100;
  max-width: 1400px;
}
h1{
  font-size: 2.33em;
  letter-spacing: 3px;
  font-weight: 100;
}
h2{
  font-size: 2em;
  letter-spacing: 2px;
}
h3{
  font-size: 1.75em;
}
h4{
  font-size: 1.5em;
  letter-spacing: 1px;
  font-weight: 200;
}
i{
  font-style: italic;
}
.left{
  float:left;
  clear:none;
}
.right{
  float:right;
  clear:none;
}

.main-content{
  height: auto;
}

.app-component{
  background-color: $wit;
  color:#222;
  padding:1em;
  width: 1400px;
  //rounds up to 1432?
  clear:both;
  height:96px;

  .title{
    display: inline-block;
    float:left;
  }
}

.component-header{
  margin:-0.1em 0 1em 0;
  clear: both;
  overflow: auto;
  height:54px;
}

.top-bar{
  background-color: $deepred;
  overflow: auto;
}

.nav{
  opacity: 0;
  //block out!
  position: relative;
  float:right;
  display: inline-block;
  width:20%;
  height: 100%;

  li{
    padding: 2px 0 2px 6px;
    border-bottom: 1px solid $wit;
    border-right:1px solid $wit;
  }
  a{
    text-decoration: none;
    color:$wit;
  }
  a:visited{
    color:$wit;
  }
}

.close{
  @include button-sml;
  position: relative;
  border: 1px solid $deepred;
  top:0;
  left:0;
  content: 'X';
}

.copyright{
  position: absolute;
  bottom:10px;
  font-size: 0.5em;
  opacity: 0;
}

.admin-test{
  @include push--auto;
  max-width: 960px;
  min-height: 128px;
  position: relative;
  background-color: $color5;
  color:$blau;
  ol{
    margin: 1em auto;
    padding:.5rem;

  }
}
